.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 10px;
}
.footer:hover{
    background: linear-gradient(to right, #ff4763, #ddd);
    background-size: 100% auto;
    transition: background-color 0.9s ease;
    color: white;

}

.footerR{
    color: darkolivegreen;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: white;
}


