.infoAt {
    text-align: center;
    font-family: Geneva;
    font-style: oblique;
    border: 2px solid;
    border-style: wave;
    border-radius: 30%;
    border-bottom-color: brown;
    width: auto;
    height: auto;
}
.infoAt:hover{background: rgb(255, 0, 0)
}
